<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Temix Empire</name>

  <description>
      Temix Empire is a Catering Company specialized in Cake making for all kinds of occassion. We also provide Make-up service as well as plan Events, and decorations for all Occations. We also supply quality beddings for Hotels, Schools, Hospitals and Homes.
  </description>

  <author href="https://onostarmedia.com.ng" email="support@onostarmedia.com.ng">
      Onostar Media
  </author>
  <icon src="images/temix_empire_logo.png" />

</widget>